/* box-MarginBottom */
.Box_mb1 {
  margin-bottom: .5em;
}

.Box_mb2 {
  margin-bottom: calc(.5em + 1vw);
}

.Box_mb3 {
  margin-bottom: calc(1em + 3vw);
}

/* box-padding */
.iconBox {
  padding: calc(0.25em) calc(.5em);
}

.btnBox_s {
  padding: 0.35em 1.5em;
}

.textBox {
  padding: calc(0.25em + .5vmin) calc(.5em + 1vmin);
}

.blockBox {
  padding: calc(1vw + 1vh) calc(1.5vw + 1.5vh);
}

/* BTN-Design */
.btn_normal {}

/* box-border */
.boxBorder_PR {
  border-radius: 20vh;
}

.boxBorder_SR {
  border-radius: 0.25em;
}

.boxBorder_MR {
  border-radius: 0.75em;
}

/* Overflow */
.overFlowX_scroll {
  overflow-x: scroll;
}

.overFlowY_scroll {
  overflow-y: scroll;
}

/* box-Shadow */
.boxShadowL {
  box-shadow: 0 .5rem 2rem rgba(74, 84, 173, 0.15);
}