/* box/wrapper-size */
.page-wrapperS {
  width: min(1000px, 92.5%);
  margin: auto;
}

.page-wrapperM {
  width: min(1280px, 93.75%);
  margin: auto;
}

.page-wrapperL {
  width: min(1440px, 95%);
  margin: auto;
}

/* flex-wrapper */
.flexBox {
  display: flex;
  flex-wrap: wrap;
}

.flexCenterY {
  align-items: center;
}

.flexCenterX {
  justify-content: center;
}

.flexBox_between {
  justify-content: space-between;
}

/* flex-Items:x-col */
.flex_2Col>article {
  width: calc(50% - 2.5vw);
  margin: 1.25vw;
}

.flex_3Col>article {
  width: calc(100% / 3 - 2.5vw);
  margin: 1.25vw;
}

.flex_4Col>article {
  width: calc(25% - 2.5vw);
  margin: 1.25vw;
}

/* grid-wrapper */
.gridBox {
  display: grid;
}

/* grid-Items:XX */
.grid_2Col {
  grid-template-columns: repeat(2, 1fr);
}

.grid_3Col {
  grid-template-columns: repeat(3, 1fr);
}

.grid_4Col {
  grid-template-columns: repeat(4, 1fr);
}


/* flex/grid-centering */
.itemCenter {
  place-items: center;
}

.itemCenterX {
  justify-content: center;
}

.itemCenterY {
  align-content: center;
}

.itemBetweenY {
  align-content: space-between;
}

/* under-tablet-size */
@media all and (max-width: 1024px) {

  /* flex-Items:x-col */
  .flex_3Col>article {
    width: calc(50% - 2.5vw);
  }

  .flex_4Col>article {
    width: calc(100% / 3 - 2.5vw);
  }

}

/* under-smartPhone-size */
@media all and (max-width: 480px) {

  /* flex-Items:x-col */
  :is(.flex_2Col, .flex_3Col, .flex_4Col)>article {
    width: 95%;
  }

}