/* Head-Style */
header {
  padding: min(2.5vmax, 5vmin);
}

/* Section-Style */
section#contAceess_Box {
  padding: 10vmin 0;
}

section#contAceess_Box>article {
  cursor: pointer;
}

/* Item-Content-Outer */
#contData_Outer {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#contData_Outer,
.contData_inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  visibility: hidden;
}

#contData_Outer>div {
  height: 75vh;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contData_BlockBG {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--blackTrs);
}

#contOff_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.75rem;
  height: 2.75rem;
  transform: translate(35%, -35%);
  z-index: 4;
}

/* Item-Content-Inner */
.contData_inner {
  height: 75vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 3;
}

.contData_inner * {
  pointer-events: auto;
}

/* Item-Content On */
.contData_inner.show,
#contData_Outer.show {
  opacity: 1;
  visibility: visible;
}


/* contents-data-List */
/* contents-data01 */
#contents-data01 {
  grid-template-rows: repeat(4, 25%);
}

#contents-data01>p {
  grid-row: 1/ 2;
}

#contents-data01>figure {
  grid-row: 2/ 3;
  height: 100%;
}

#contents-data01>figure a {
  display: block;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

#contents-data01>figure a>img {
  height: 100%;
}

#contents-data01>ul {
  gap: 1rem;
  grid-row: 3/4;
  max-height: 100%;
  overflow-y: auto;
}

#contents-data01>ul>li {
  width: 100%;
}

#contents-data01>div>button {
  width: 10em;
}

#contents-data01>div>button.On {
  pointer-events: none;
}


/* contents-data01 */