/* font */
/* font-size */
.textSize_SS {
  font-size: 0.75rem;
}

.textSize_S {
  font-size: 1rem;
}

.textSize_M {
  font-size: 1.25rem;
}

.textSize_L {
  font-size: 1.5rem;
}

.textSize_XL {
  font-size: 2rem;
}

/* font-weight */
.textBold_M {
  font-weight: 600;
}

.textBold_L {
  font-weight: 900;
}

/* text-align */
.al_l {
  text-align: left;
}

.al_c {
  text-align: center;
}

.al_r {
  text-align: right;
}

/* line-break */
br.br_spOnly {
  display: none;
}





/* under-tablet-size */
@media all and (max-width: 1024px) {
  br.br_spOnly {
    display: block;
  }

  br.br_pcOnly {
    display: none;
  }
}

/* under-smartPhone-size */
@media all and (max-width: 480px) {}